<footer>
  <a href="https://github.com/StanimirKosev">Project by: Stanimir Kosev <img src="images/github.png" alt=""/></a>  
  <div class="footer-content">  
  <% if (currentUser) {%>
          <div><img src="images/user.png" alt=""/>
            <%= currentUser.username %></div>
        <% if (currentUser.membershipStatus === true) {%>
            <div>Membership <img src="images/check-green.png" alt=""/></div>
            <%} else {%>
              <div>Membership    <img src="images/hiks.png" alt=""/></div>
          <%}%>
          <% if (currentUser.admin === true) {%>
            <div>Admin<img src="images/check-green.png" alt=""/></div>
            <%} else {%>
              <div>Admin<img src="images/hiks.png" alt=""/></div>
          <%}%>
        <% } %>
      </div>
</footer>
</body>
</html>