<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <a href="/" class="title"
        ><strong>Members Only</strong><img src="/images/members2.png" alt=""
      /></a>
      <% if (currentUser) {%>
      <div class="header-content">
        <a href="message-form"><img src="/images/msg.png"/>Create a new message</a>
        <a href="membership"><img src="/images/check-green.png"/>Gain membership status</a>
        <a href="admin"><img src="/images/admin.png"/>Become an admin</a>
        <a href="/log-out"><img src="/images/logout.png"/>Log Out</a>
      </div>
      <% } else { %>
      <div class="header-content">
        <a href="/sign-up"><img src="/images/signup2.png" /> Sign Up</a>
        <a href="/log-in"> <img src="/images/login.png" />Log In</a>
      </div>
      <%}%>
    </header>

