<% include _header %>
<div class="login-form">
  <h1>Log In</h1>
  <img src="images/anonim.png" alt="" />
  <form action="" method="POST">
    <input name="username" placeholder="Username" type="text" />
    <input name="password" placeholder="Password" type="password" />
    <button>Log In</button>
  </form>
  <% errors.forEach(function(error) { %>
  <div class="error"><%= error %>.</div>
  <% }) %>
</div>
<% include _footer %>
