<% include _header %>
<div class="membership-form">
  <% if (currentUser.membershipStatus === true) {%>
  <h1>You are already a member.<h1>
  <%} else {%>
  <h1>Become a member.</h1>
  <form action="" method="post">
    <input name="passcode" type="password" placeholder="Secret membership passcode" />
    <input name="id" type="hidden" value="<%= currentUser.id %>" />
    <button>Submit</button>
  </form>
  <%}%> <% if (validationErr.length) {%> <%
  validationErr.forEach(function(valErr) { %>
  <div class="error"><%= valErr.msg %></div>
  <% }) %> <%}%>
</div>
<% include _footer %>
