<% include _header %>
<h1>Sign Up</h1>
<form action="" method="POST">
  <label for="username">Username</label>
  <input name="username" placeholder="username" type="text" />
  <label for="password">Password</label>
  <input name="password" type="password" />
  <label for="password">Confirm Password</label>
  <input name="confirmPassword" type="password" />
  <button>Sign Up</button>
</form>
<% if (validationErr.length) {%> <% validationErr.forEach(function(valErr) { %>
<div><%= valErr.msg %></div>
<% }) %> <%}%> <% errors.forEach(function(error) { %>
<div><%= error %></div>
<% }) %> <% include _footer %>
