<% include _header %>
<div class="signup-form">
  <h1>Sign Up.</h1>
  <img src="images/skeleton.png" alt="" />
  <form action="" method="POST">
    <input name="username" placeholder="Username" type="text" />
    <input name="password" type="password" placeholder="Password" />
    <input
      name="confirmPassword"
      type="password"
      placeholder="Confirm password"
    />
    <button>Sign Up</button>
  </form>
  <% if (validationErr.length) {%> <% validationErr.forEach(function(valErr) {
  %>
  <div class="error"><%= valErr.msg %></div>
  <% }) %> <%}%> <% errors.forEach(function(error) { %>
  <div class="error"><%= error %></div>
  <% }) %>
</div>
<% include _footer %>
